includes:
    # Uncomment once you install Larastan:
     - vendor/larastan/larastan/extension.neon

parameters:
    paths:
        - app

    level: 5

    ignoreErrors:
        -
            identifier: property.notFound
            path: app/Filament

    excludePaths:
