includes:
    # Uncomment once you install Larastan:
     - vendor/larastan/larastan/extension.neon

parameters:
    paths:
        - app

    level: 5

    memory_limit: 512M

    ignoreErrors:

    excludePaths:
